{# Same licenses as in copier.yaml -#}
{% set _license = {
    "GPL-2": {
        "name": "GPL-2.0",
        "url": "https://www.gnu.org/licenses/gpl-2.0",
    },
    "GPL-2 or any later version": {
        "name": "GPL-2.0 or later",
        "url": "https://www.gnu.org/licenses/gpl-2.0",
    },
    "GPL-3": {
        "name": "GPL-3.0",
        "url": "https://www.gnu.org/licenses/gpl-3.0",
    },
    "GPL-3 or any later version": {
        "name": "GPL-3 or later",
        "url": "https://www.gnu.org/licenses/gpl-3.0",
    },
    "AGPL-3": {
        "name": "AGPL-3.0 or later",
        "url": "https://www.gnu.org/licenses/agpl-3.0",
    },
    "LGPL-3": {
        "name": "LGPL-3.0 or later",
        "url": "https://www.gnu.org/licenses/lgpl-3.0",
    },
    "Other OSI approved licence": {
        "name": license_notice,
        "url": ""
    },
    "OEEL-1": {
        "name": "OEEL-1.0",
        "url": "https://www.odoo.com/documentation/16.0/legal/licenses.html#odoo-16-enterprise-edition",
    },
    "OPL-1": {
        "name": "OPL-1.0",
        "url": "https://www.odoo.com/documentation/16.0/legal/licenses.html#odoo-apps",
    },
    "Other proprietary": {
        "name": license_notice,
        "url": ""
    },
}[license] -%}

{% macro copyright_text() -%}
Copyright {{ copyright_year }} {{ copyright_owner }}
{%- endmacro %}

{% macro license_text() -%}
License {{ _license.name }} {%- if _license.url %} ({{ _license.url }}){% endif %}
{%- endmacro %}
