{% extends "layout.py.jinja" %}
{% block body %}

from odoo import models


class AbstractSomething(models.AbstractModel):
    _name = "abstract.something"
    _description = "Abstract Somethings"
{% endblock %}
